/workbench
/sources-pdf
/sources-html
/.claude

# Copyrighted material
/sources-md/munsell-colour-system/
/sources-md/the-new-typography/
/sources-md/art-and-visual-perception
/sources-md/deep-js/
/sources-md/eloquent-js/
/sources-md/exploring-js/
/sources-md/js-definitive-guide/
/sources-md/the-art-of-color/
